@import './variables.scss';

.ITable {
  position: relative; //TODO needed? for now, needed for portal, since portal is absolute
  font-family: var(--ITable__font-family);
  color: var(--ITable__color);
  background: var(--ITable__background);
  min-height: var(--ITable__min-height);
  display: flex;
  flex-flow: column;

  @include box-sizing_border-box;

  &--shifting {
    user-select: none;
  }
}

.ITable-Portal {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}

.ITableBody {
  flex: 1;
}

@import '../components/InfiniteTableLicenseFooter/InfiniteTableLicenseFooter.scss';
@import '../components/InfiniteTableCell.scss';
@import '../components/icons/index.scss';
@import '../components/InfiniteTableRow/InfiniteTableRow.scss';
@import '../components/InfiniteTableHeader/InfiniteTableHeader.scss';
