@import './variables.scss';

.Infinite-Portal {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}

.InfiniteBody {
  flex: 1;
}

.InfinitePinnedRowsContainer--pinned-start {
  border-right: var(--ITableCell__border);

  .InfiniteColumnCell--last-in-category,
  .InfiniteColumnCell--first-in-category {
    --ITableCell__border: none;
  }
}
.InfinitePinnedRowsContainer--pinned-end {
  border-left: var(--ITableCell__border);

  .InfiniteColumnCell--last-in-category,
  .InfiniteColumnCell--first-in-category {
    --ITableCell__border: none;
  }
}

.Infinite-Footer {
  padding: var(--infinite-space-2);
}

.InfiniteCell {
  // contain: size layout;
  padding: var(--ITableCell__padding);
  white-space: nowrap;
  will-change: transform;
  position: absolute;

  &--shifting {
    transition: left 300ms;
  }
  &--dragging {
    transition: none;
  }
}

.InfiniteHeaderCell {
  background: var(--ITableHeaderCell__background);
  padding: var(--ITableHeaderCell__padding);

  // padding: var(--ITableHeaderCell__padding);
  // contain: layout;
}
.InfiniteHeaderCell,
.InfiniteColumnCell {
  &--first {
    border-top-left-radius: var(--ITableCell__border-radius);
    border-bottom-left-radius: var(--ITableCell__border-radius);
  }
  &--last {
    border-top-right-radius: var(--ITableCell__border-radius);
    border-bottom-right-radius: var(--ITableCell__border-radius);
  }
}
.InfiniteHeaderCell,
.InfiniteColumnCell {
  border-left: var(--ITableCell__border-width) solid transparent;
  border-right: var(--ITableCell__border-width) solid transparent;

  &--pinned-start.InfiniteCell--last-in-category {
    border-right: var(--ITableCell__border);
  }
  &--pinned-end.InfiniteCell--first-in-category {
    border-left: var(--ITableCell__border);
  }
}
.Infinite--has-pinned-end-overflow {
  .InfiniteHeaderCell--unpinned.InfiniteCell--last-in-category {
    --ITableCell__border: none;
  }
}

.InfiniteHeader {
  background: var(--ITableHeader__background);
  color: var(--ITableHeader__color);
  &--unvirtualized {
    position: relative;
    overflow: hidden;
  }

  &--overflow {
    z-index: 10;
  }

  &--overflow {
    .InfiniteHeaderCell--pinned-start.InfiniteHeaderCell--last-in-category {
      border-right: var(--ITableCell__border-invisible);
    }
    .InfiniteHeaderCell--pinned-end.InfiniteHeaderCell--first-in-category {
      border-left: var(--ITableCell__border-invisible);
    }

    &.InfiniteHeader--pinned-start {
      border-right: var(--ITableCell__border);
    }
    &.InfiniteHeader--pinned-end {
      border-left: var(--ITableCell__border);
    }
  }
}
.InfiniteHeaderCell {
  &--dragging {
    z-index: 100;
    opacity: 0.8;
    background: var(--ITableHeaderCell--dragging__background);
  }
  &--pinned-start {
    z-index: 10;
  }
  &Proxy {
    background: var(--ITableHeader__background);
    opacity: 0.9;
    padding: var(--ITableCell__padding);
    padding-left: 20px;
    z-index: 200;
  }
  border-right: var(--ITableCell__border);
}
.InfiniteRow--inline-group-row,
.InfiniteRow--group-row {
  z-index: 100;
}
.InfiniteRow--group-row.InfiniteRow--odd,
.InfiniteRow--group-row.InfiniteRow--even {
  .InfiniteCell::before {
    content: '';
    background: var(--ITable-accent__color);
    position: absolute;
    top: 0;
    left: calc(0px - var(--ITableCell__border-width));
    right: calc(0px - var(--ITableCell__border-width));
    bottom: 0;
    z-index: -1;
    opacity: 0.05;
    pointer-events: none;
  }
}

.InfiniteIcon {
  fill: currentColor;
  flex: none;
}
.InfiniteIcon-expander {
  cursor: pointer;
  user-select: none;
  // transition: transform 0.2s, fill 0.2s;

  &--expanded {
    fill: var(--ITable-accent__color);
  }
}

.InfiniteRow {
  color: var(--ITableRow__color);
  will-change: transform;

  --ITableColumnCell__background: var(--ITableRow__background);

  &.InfiniteElement--hover {
    --background--hover: var(--ITableRow--hover__background);
  }
}

.Infinite--scrolling .InfiniteRow {
  pointer-events: none;
}

.InfiniteRow--even {
  background: var(--ITableRow__background);
}
.InfiniteRow--odd {
  background: var(--ITableRow--odd__background);
}

.InfiniteColumnCell {
  background: inherit;
}

.InfiniteElement--hover {
  background: var(--background--hover);
}

.InfiniteHeaderCell__sort-icon {
  margin-left: 10px;
  position: relative;

  [data-name='index'] {
    line-height: 0;
    font-size: 10px;

    border-radius: 50%;
    padding: 1px;
  }
}

.InfiniteHeaderGroup {
  &__header {
    padding: var(--ITableCell__padding);
    // text-align: center;
    border-bottom: var(--ITableCell__border);
    border-right: var(--ITableCell__border);
  }
  &__children {
    flex: 1;
  }
}
