:root {
  --ITable__font-family: inherit;
  --ITable__color: #484848;
  --ITable__background: white;
  --ITable__min-height: 100px;
  --ITableCell__border-radius: var(--it-space-2);

  --ITableHeader__color: #6f6f6f;

  --ITableHeaderCell__background: #ededed;
  --ITableHeader__background: var(--ITableHeaderCell__background);
  --ITableHeaderCell--dragging__background: #d4d3d3;
  --ITableHeaderCell-icon-size: 16px;

  --ITableCell__border: 1px solid #c6c6c6;
  --ITableCell__padding: var(--it-space-2) var(--it-space-3);
  --ITableHeaderCell__padding: var(--it-space-3) var(--it-space-3);

  --ITableRow__color: inherit;
  --ITableRow__background: var(--ITable__background, transparent);
  --ITableRow--odd__background: #f6f6f6;
  --ITableRow-group-row__background: #cbc5c5;
  --ITableRow-group-column-nesting: 30px;
  --ITableRow--hover__background: #dbdbdb;

  --ITable--theme: light;
  --ITableHeader__height: 30px;
  --ITable-accent__color: #ff7043;
}

.it--theme-dark {
  --ITable__background: #101419;
  --ITableHeader__color: #c3c3c3;
  --ITableHeaderCell__background: black;
  --ITableHeader__background: var(--ITableHeaderCell__background);

  --ITableRow--hover__background: #3b4754;
  --ITableRow__background: var(--ITable__background, transparent);
  --ITableRow--odd__background: #242a31;
  --ITableRow__color: #c3c3c3;
}
