{
  "bracketSpacing": true,
  "singleQuote": true,
  "semi": true,
  "jsxBracketSameLine": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "mdx"
      }
    }
  ]
}
