@import '~modern-normalize/modern-normalize.css';
@import '../../../source/dist/index.css';

@font-face {
  font-family: 'RobotoMono';
  src: url('/Roboto_Mono/static/RobotoMono-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('/Roboto/Roboto-Regular.ttf');
}
html body {
  font-family: 'RobotoMono', sans-serif;
}
body {
  line-height: inherit;
}

html {
  line-height: 1.5;
}

html {
  display: flex;

  flex-direction: column;
}
body {
  min-width: 100%;
}
html,
body,
#__next {
  min-height: 100vh;
}

#__next {
  display: flex;
  flex-direction: column;
}

*,
:after,
:before {
  border: 0 solid;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  vertical-align: middle;
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

[role='button'],
button {
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}
