@import 'tailwindcss';

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --color-paleglow: #319c75;
  --color-textcolorpale: hsla(0, 0%, 100%, 0.7);
  --color-codebg: #313131;
  --color-bgcolor: hsl(0, 0%, 10%);

  --color-datagrid-blue: #3b82f6;

  --color-datagrid-purple: #8b5cf6;
  --color-datagrid-indigo: #6366f1;
  --color-datagrid-light-blue: #93c5fd;
  --color-datagrid-dark-blue: #1e40af;
  --color-datagrid-light-purple: #c4b5fd;

  --spacing-asidewidth: min(15rem, 25vw);
  --spacing-navigationheight: 100px;

  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-black: #000000;
  --color-primary: #23272f; /* gray-90 */
  --color-primary-dark: #f6f7f9; /* gray-5 */
  --color-secondary: #404756; /* gray-70 */
  --color-secondary-dark: #ebecf0; /* gray-10 */
  --color-content-color: rgba(235, 236, 240, 0.93);
  --color-link: #149eca;
  --color-syntax: #ebecf0; /* gray-10 */
  --color-wash: #ffffff;
  --color-wash-dark: #23272f; /* gray-90 */
  --color-card: #f6f7f9; /* gray-05 */
  --color-card-dark: #343a46; /* gray-80 */
  --color-glow: #3bff7f;

  /* this is the color used in the logo */
  --color-accent2: #497aff; /* blue-10 */
  --color-highlight: #e6f7ff; /* blue-10 */
  --color-highlight-dark: rgba(88, 175, 223, 0.15);
  --color-glow-dark: rgba(59, 255, 127, 0.1);
  /* 'highlight-dark': 'rgba(88,175,223,.1)', */
  --color-border: #ebecf0; /* gray-10 */
  --color-border-dark: #343a46; /* gray-80 */
  --color-brand: #0b6fcb; /* gray-80 */
  --color-codesandboxdark: #191919;
  --color-brand-dark: #133048; /* gray-80 */
  --color-brand-blue: #497aff;
  --color-secondary-button: #ebecf0; /* gray-10 */
  --color-secondary-button-dark: #404756; /* gray-70 */
  --color-darkcustom: #0d1114;
  --color-special-border-color: rgba(255, 255, 255, 0.09);
  --color-deep-dark: #07131c;
  --color-mint-500: oklch(0.72 0.11 178);
  --color-error: var(--color-red-400);

  --color-gray-95: #16181d;
  --color-gray-90: #23272f;
  --color-gray-80: #343a46;
  --color-gray-70: #404756;
  --color-gray-60: #4e5769;
  --color-gray-50: #5e687e;
  --color-gray-40: #78839b;
  --color-gray-30: #99a1b3;
  --color-gray-20: #bcc1cd;
  --color-gray-10: #ebecf0;
  --color-gray-5: #f6f7f9;
  --color-blue-60: #045975;
  --color-blue-50: #087ea4;
  --color-blue-40: #149eca;
  --color-blue-30: #58c4dc;
  --color-blue-20: #abe2ed;
  --color-blue-10: #e6f7ff;
  --color-blue-5: #e6f6fa;

  /* // MISC */
  --color-code-block: #99a1b30f;
  --color-gradient-blue: #58c4dc;

  --font-mono: 'Source Code Pro', Menlo, monospace;
  --font-sans: 'Optimistic Display', -apple-system, sans-serif;

  --leading-base: 30px;
  --leading-large: 38px;
  /* --leading-10: 2.5em; */

  --text-6xl: 68px;
  --text-5xl: 40px;
  --text-4xl: 32px;
  --text-3xl: 28px;
  --text-2xl: 24px;
  --text-xl: 20px;
  --text-lg: 17px;
  --text-base: 15px;
  --text-sm: 13px;
  --text-xs: 11px;
  --text-code: calc(1em - 20%);

  --shadow-sm: inset 0 1px 2px 0 oklch(1 0 0 / 0.23) /* top highlight */,
    0 1px 2px 0 oklch(0 0 0 / 0.23),
    0 2px 4px 0 oklch(1 0 0 / 0.2) /* dark shadow */;
  --shadow-md: inset 0 2px 4px 0 oklch(1 0 0 / 0.23) /* top highlight */,
    0 4px 6px 0 oklch(0 0 0 / 0.23),
    0 4px 6px 0 oklch(1 0 0 / 0.2) /* dark shadow */;
  --shadow-lg: inset 0 1px 3px 0 oklch(1 0 0 / 0.23) /* top highlight */,
    0 3px 5px 0 oklch(0 0 0 / 0.23),
    0 4px 6px 0 oklch(1 0 0 / 0.2) /* dark shadow */;

  --shadow-inner: inset 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  --shadow-none: none;
}

@layer base {
  @font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/SourceCodePro-Regular.ttf') format('truetype');
  }

  :root {
    --sp-font-mono: var(--font-mono);
    --default-mono-font-family: var(--font-mono);
  }

  /* Write your own custom base styles here */
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    scroll-padding-top: var(--spacing-navigationheight);
  }

  html,
  body {
    height: 100%;
    padding: 0;
    margin: 0;

    font-family: var(--font-sans) !important;
  }

  body,
  html,
  #__next {
    height: 100%;
  }
  .Infinite {
    flex: 1;
  }
  #__next {
    /* --infinite-min-height: 100%; */
  }

  /* Start purging... */
  /* Force GPU Accelerated scrolling, credit: Twitter Lite */
  .scrolling-gpu {
    transform: translateZ(0);
  }
  .text-7xl {
    font-size: 5rem;
  }

  .text-8xl {
    font-size: 6rem;
  }

  a > code {
    color: #149eca !important; /* blue-50 */
    text-decoration: none !important;
  }

  html.dark a > code {
    color: #149eca !important; /* blue-40 */
  }

  .text-code {
    font-size: calc(1em - 20%) !important;
  }

  .text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    background-repeat: no-repeat;
    color: transparent;
  }

  .text-gradient-electric-blue {
    background-image: linear-gradient(45deg, #61dafb, #0072ff);
  }
  /* Stop purging. */
  /* Your own custom utilities */

  details {
    margin-bottom: 1rem;
  }

  article table,
  .article table {
    width: 100%;
    margin-bottom: 1rem;
    display: block;
    overflow-x: auto;
    border-spacing: 5px;
    border-collapse: separate;
  }

  .article table td,
  article table td,
  .article table th,
  article table th {
    padding: 0.75rem;
    vertical-align: top;
    border: 0.5rem solid transparent;
    border-radius: 0.5rem;
    overflow: initial;
    color: currentColor;
  }
  article table td,
  .article table td,
  article table th,
  .article table th {
    @apply text-primary-dark;
    @apply bg-highlight-dark;
  }

  img {
    max-width: calc(min(700px, 100%));
  }

  @keyframes nav-fadein {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }

  .formkit-form button {
    font-size: inherit !important;
  }

  /*
   * Hopefully when scrollbar-color lands everywhere,
   * (and not just in FF), we'll be able to keep just this.
   */
  html .no-bg-scrollbar {
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  }
  html.dark .no-bg-scrollbar {
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  }
  /*
   * Until then, we have ... this.
   * If you're changing this, make sure you've tested:
   * - Different browsers (Chrome, Safari, FF)
   * - Dark and light modes
   * - System scrollbar settings ("always on" vs "when scrolling")
   * - Switching between modes should never jump width
   * - When you interact with a sidebar, it should always be visible
   * - For each combination, test overflowing and non-overflowing sidebar
   * I've spent hours picking these so I expect no less diligence from you.
   */
  html .no-bg-scrollbar::-webkit-scrollbar,
  html .no-bg-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
  html .no-bg-scrollbar:hover::-webkit-scrollbar-thumb,
  html .no-bg-scrollbar:focus::-webkit-scrollbar-thumb,
  html .no-bg-scrollbar:focus-within::-webkit-scrollbar-thumb,
  html .no-bg-scrollbar:active::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border: 4px solid transparent;
    background-clip: content-box;
    border-radius: 10px;
  }
  html .no-bg-scrollbar::-webkit-scrollbar-thumb:hover,
  html .no-bg-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.35) !important;
  }
  html.dark .no-bg-scrollbar:hover::-webkit-scrollbar-thumb,
  html.dark .no-bg-scrollbar:focus::-webkit-scrollbar-thumb,
  html.dark .no-bg-scrollbar:focus-within::-webkit-scrollbar-thumb,
  html.dark .no-bg-scrollbar:active::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
  }
  html.dark .no-bg-scrollbar::-webkit-scrollbar-thumb:hover,
  html.dark .no-bg-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.35) !important;
  }
}

#_hj_feedback_container > div > button:not([aria-label='Close']) {
  display: none;
}

#_hj_feedback_container > div {
  --hjFeedbackAccentColor: rgb(230, 247, 255) !important;
  --hjFeedbackAccentTextColor: rgb(73, 119, 171) !important;
}

.DocSearch-Container.DocSearch-Container {
  z-index: 100000;
}
.DocSearch-Modal {
  z-index: 11111;
}
.DocSearch-Button.DocSearch-Button {
  width: 100%;
  margin: 0px;
}
.DocSearch-Button-Keys.DocSearch-Button-Keys {
  display: flex;
}
:root:root {
  --docsearch-searchbox-background: rgb(52 58 70 / 1);
  --docsearch-container-background: rgb(52 58 70 / 0.6);
  --docsearch-primary-color: #149eca;
  --docsearch-modal-background: #171a21; /*bg-secondary opacity 40%*/
  --docsearch-footer-background: #23272f; /*bg-secondary opacity 40%*/
  --docsearch-key-gradient: linear-gradient(-26.5deg, #404756, #23272f);
}

:root {
  --text-paragraph: var(--text-base);
}

@media (min-width: 768px) {
  :root {
    --text-paragraph: var(--text-lg);
  }
}
/* 
@media (min-width: 1024px) {
  :root {
    --text-paragraph: var(--text-xl);
  }
} */

[role='paragraph'] {
  font-size: var(--text-paragraph); /* text-md */
}
