@import '../../style/utilities.scss';
@import '../../style/mixins.scss';
@import '../VirtualScrollContainer/index.scss';

.IList {
  @include box-sizing_border-box;

  position: relative;

  &--vertical {
    display: inline-block;
  }
  &--allow-horizontal-scroll {
    overflow-x: auto;
  }
}
