/**
 * These variables are not component specific.
 */
:root {
  --it-space-0: 0rem; /* 0px when 1rem=16px */
  --it-space-1: 0.125rem; /* 2px when 1rem=16px */
  --it-space-2: 0.25rem; /* 4px when 1rem=16px */
  --it-space-3: 0.5rem; /* 8px when 1rem=16px */
  --it-space-4: 0.75rem; /* 12px when 1rem=16px */
  --it-space-5: 1rem;
  --it-space-6: 1.25rem; /* 20px when 1rem=16px */
  --it-space-7: 1.5rem; /* 24px when 1rem=16px */
  --it-space-8: 2.25rem; /* 36px when 1rem=16px */
  --it-space-9: 3rem; /* 48px when 1rem=16px */
  --it-space-10: 4rem; /* 64px when 1rem=16px */

  --it-font-size-0: 0.5rem; /* 8px when 1rem=16px */
  --it-font-size-1: 0.625rem; /* 10px when 1rem=16px */
  --it-font-size-2: 0.75rem; /* 12px when 1rem=16px */
  --it-font-size-3: 0.875rem; /* 14px when 1rem=16px */
  --it-font-size-4: 1rem;
  --it-font-size-5: 1.25rem; /* 20px when 1rem=16px */
  --it-font-size-6: 1.5rem; /* 24px when 1rem=16px */
  --it-font-size-7: 2.25rem; /* 36px when 1rem=16px */

  --it__border-radius: var(--it-space-2);

  --it-color-neutral-100: #f7fafc;
  --it-color-neutral-200: #edf2f7;
  --it-color-neutral-300: #e2e8f0;
  --it-color-neutral-400: #cbd5e0;
  --it-color-neutral-500: #a0aec0;
  --it-color-neutral-600: #718096;
  --it-color-neutral-700: #4a5568;
  --it-color-neutral-800: #2d3748;
  --it-color-neutral-900: #1a202c;
}

.it__align-items\=center {
  align-items: center;
}
.it__justify-content\=flex-start {
  justify-content: flex-start;
}
.it__justify-content\=flex-end {
  justify-content: flex-end;
}
.it__justify-content\=center {
  justify-content: center;
}

.it__cursor\=pointer {
  cursor: pointer;
}
.it__overflow\=hidden {
  overflow: hidden;
}
.it__overflow\=visible {
  overflow: visible;
}

.it__overflow\=auto {
  overflow: auto;
}

.it__overflow-x\=hidden {
  overflow-x: hidden;
}
.it__overflow-x\=visible {
  overflow-x: visible;
}
.it__overflow-x\=auto {
  overflow-x: auto;
}

.it__overflow-y\=hidden {
  overflow-y: hidden;
}
.it__overflow-y\=visible {
  overflow-y: visible;
}
.it__overflow-y\=auto {
  overflow-y: auto;
}

.it__height\=0 {
  height: 0;
}
.it__height\=100\% {
  height: 100%;
}

.it__width\=0 {
  width: 0;
}
.it__width\=100\% {
  width: 100%;
}
.it__top\=0 {
  top: 0;
}
.it__top\=100\% {
  top: 100%;
}
.it__left\=0 {
  left: 0;
}
.it__left\=100\% {
  left: 100%;
}
.it__transform\=translate3D000 {
  transform: translate3d(0, 0, 0);
}
.it__will-change\=transform {
  will-change: transform;
}

.it__position\=relative {
  position: relative;
}
.it__position\=absolute {
  position: absolute;
}
.it__position\=fixed {
  position: fixed;
}

.it__display\=flex {
  display: flex;
}

.it__flex-flow\=row {
  flex-flow: row;
}

.it__white-space\=nowrap {
  white-space: nowrap;
}

.it__text-overflow\=ellipsis {
  text-overflow: ellipsis;
}
.it__user-select\=none {
  user-select: none;
}
