@import 'normalize.css/normalize.css';

body {
  font-size: 16px;
}
#__next,
.__next {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-flow: column;
}

body {
  background: black;
  /* --infinite-flashing-animation-name: flashing; */
}

@keyframes flashing {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
