@import 'tailwindcss';

@import 'normalize.css/normalize.css';

body {
  font-size: 16px;
}
#__next,
.__next {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-flow: column;
}

body {
  background: black;
}
/* 
.InfiniteRow--hovered {
  background: green !important;
} */
