.ITableRow {
  color: var(--ITableRow__color);
  will-change: transform;
  // contain: size layout;

  &--hover {
    --ITableRow__background: var(--ITableRow--hover__background);
    --ITableRow--odd__background: var(--ITableRow--hover__background);
  }
}

.ITable--scrolling .ITableRow {
  pointer-events: none;
}

.ITableRow--even {
  // .ITableColumnCell {
  background: var(--ITableRow__background);
  // }
}
.ITableRow--odd {
  // .ITableColumnCell {
  background: var(--ITableRow--odd__background);
  // }
}
