.ITableHeader {
  background: var(--ITableHeader__background);
  color: var(--ITableHeader__color);
  &--unvirtualized {
    position: relative;
    align-items: stretch;
  }
}
.ITableHeaderCell {
  &--dragging {
    z-index: 100;
    opacity: 0.8;
    background: var(--ITableHeaderCell--dragging__background);
  }
  &--pinned-start {
    z-index: 10;
  }
  &Proxy {
    background: var(--ITableHeader__background);
    opacity: 0.9;
    padding: var(--ITableCell__padding);
    padding-left: 20px;
    z-index: 200;
  }
  border-right: var(--ITableCell__border);
}

.ITableHeaderGroup {
  &__content {
    padding: var(--ITableCell__padding);
    // text-align: center;
    border-bottom: var(--ITableCell__border);
    border-right: var(--ITableCell__border);
  }
  &__children {
    flex: 1;
  }
}
