@import '~normalize.css/normalize.css';

body {
  font-size: 16px;
}
#__next,
.__next {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}
/* 
.InfiniteRow--hovered {
  background: green !important;
} */
