@import '../../style/mixins.scss';
.IT-VirtualScrollContainer {
  @include box-sizing_border-box;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;

  /** MANDATORY BLOCK - START **/
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  /** MANDATORY BLOCK - END **/

  & > :first-child {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
  }
}
