.ITableCell {
  // contain: size layout;
  padding: var(--ITableCell__padding);
  white-space: nowrap;
  will-change: transform;
  position: absolute;

  &--shifting {
    transition: left 300ms;
  }
  &--dragging {
    transition: none;
  }
}

.ITableHeaderCell {
  background: var(--ITableHeaderCell__background);
  padding: var(--ITableHeaderCell__padding);

  // padding: var(--ITableHeaderCell__padding);
  // contain: layout;
}
.ITableHeaderCell,
.ITableColumnCell {
  &--first {
    border-top-left-radius: var(--ITableCell__border-radius);
    border-bottom-left-radius: var(--ITableCell__border-radius);
  }
  &--last {
    border-top-right-radius: var(--ITableCell__border-radius);
    border-bottom-right-radius: var(--ITableCell__border-radius);
  }
}
.ITableHeaderCell,
.ITableColumnCell {
  border-left: var(--ITableCell__border-width) solid transparent;
  border-right: var(--ITableCell__border-width) solid transparent;
  &--pinned-start.ITableCell--last-in-category {
    border-right: var(--ITableCell__border);
  }
  &--pinned-end.ITableCell--first-in-category {
    border-left: var(--ITableCell__border);
  }
}
.ITableRow--group-row.ITableRow--odd,
.ITableRow--group-row.ITableRow--even {
  .ITableCell::before {
    content: '';
    background: var(--ITable-accent__color);
    position: absolute;
    top: 0;
    left: calc(0px - var(--ITableCell__border-width));
    right: calc(0px - var(--ITableCell__border-width));
    bottom: 0;
    z-index: -1;
    opacity: 0.05;
    pointer-events: none;
  }
}
// .ITableRow--even {
//   .ITableColumnCell {
//     background: var(--ITableRow__background);
//   }
// }
// .ITableRow--odd {
//   .ITableColumnCell {
//     background: var(--ITableRow--odd__background);
//   }
// }
.ITableCell_content {
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}
